.form {
    display: flex;
    padding: 10px;
    background-color: #1e2428;
    border-top: 1px solid #333;
  }
  
  .input {
    flex: 1;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    font-size: 1em;
    outline: none;
    margin-right: 10px;
    background-color: #2a3942;
    color: white;
  }
  
  .sendButton {
    background-color: #25d366;
    border: none;
    padding: 10px 18px;
    border-radius: 10%;
    cursor: pointer;
    color: white;
    font-size: 16px;
    transition: transform 0.2s ease;
  }
  
  .sendButton:hover {
    background-color: #128c7e;
    transform: scale(1.05);
  }

  @media screen and (max-width: 500px) {
    .container {
      max-height: 90vh;
      max-width: 95vw;
      border-radius: 10px;
      
    }
  
    .form {
      flex-direction: row;
      padding: 8px;
    }
  
    .input {
      padding: 8px;
      font-size: 1em;
    }
  
    .sendButton {
      padding: 8px 12px;
      font-size: 14px;
    }
  }
  